ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li p {
	display:block;
	width: 60px;
	background-color: grey;
	color: white;
	text-align: center;
}

.active {
	background-color: black;
	color: white;
}

.main {
	background color: grey;
	font color: blue;
	font-family: Verdana;
}