.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar li {
	float: left;
	display: inline;
}
.navbar li a {
	display: block;
	width: 80px;
	background-color: #333;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}
.navbar li a:hover {
	background-color: #222;
}
.main {
	padding-top: 40px;
	background-color: white;
	color: black;
	font-family: Verdana;
}
.photolink {
	width:100px;
	height:100px;
}

table, td {
	border: 2px #70b8ff solid;
}
.hostedBy {
	background-color: grey;
	color: black;
	margin-bottom: 0px;
	text-align: center;
	width: 100%;
}